# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode
.idea

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env.example

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
docker/docker-compose.yml
docker/changes/2025_03_29/.dockerignore
docker/changes/2025_03_29/Dockerfile
docker/changes/2025_03_29/image.png
docker/changes/2025_03_29/README.md
docker/env/server.production.env
docker/env/web.production.env
docker/init/postgres/01__schema.sql
docker/init/postgres/02__data.sql
docker/resources/.env.example
docker/resources/docker-compose-opt.yml
docker/resources/docker-compose.yml
